## Create Model

In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

# create df
train = pd.read_csv('titanic.csv')

# drop null values
train.dropna(inplace=True)

# features and target
target = 'Survived'
features = ['Pclass', 'Age', 'SibSp', 'Fare']

# X matrix, y vector
X = train[features]
y = train[target]

# model 
model = LogisticRegression()
model.fit(X, y)
model.score(X,y)

//anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.7049180327868853

In [2]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S

## Pickle Model

In [29]:
import pickle
pickle.dump(model, open('model.pkl', 'wb'))

## Test Flask in Production

In [3]:
import requests
import json

In [54]:
# local url
url = 'http://127.0.0.1:5000'

# test data
data = {  'Pclass': 3
             , 'Age': 2
             , 'SibSp': 1
             , 'Fare': 50}

data = json.dumps(data)
data

'{"Pclass": 3, "Age": 2, "SibSp": 1, "Fare": 50}'

In [52]:
r_survey = requests.post(url, data)
print(r_survey)

<Response [200]>

In [58]:
send_request = requests.post(url, data)
print(send_request)

<Response [200]>

In [55]:
print(send_request.json())

{'results': {'results': 1}}

## Test App in Heroku

In [61]:
# heroku url
heroku_url = 'https://titanic-flask-model.herokuapp.com' # change to your app name

# test data
data = {'Pclass': 3
      , 'Age': 2
      , 'SibSp': 1
      , 'Fare': 50}

data = json.dumps(data)
data

'{"Pclass": 3, "Age": 2, "SibSp": 1, "Fare": 50}'

In [63]:
# check response code
r_survey = requests.post(heroku_url, data)
print(r_survey)

<Response [200]>

In [64]:
# get prediction
print(send_request.json())

{'results': {'results': 1}}